/*Responsive design rules*/
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 20px;
  position: relative;
  background-color: #000;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(https://images.pexels.com/photos/3209811/pexels-photo-3209811.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
  height: 100vh;
}

/*Header and nav-bar rules*/
#header {
  max-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: rgba (0,0,0,0.6);
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  padding: 15px 20px;
  color: #FFF;
  font-family: "Crimson Text", serif;
  font-weight: 600;
  font-size: 20px;
  backdrop-filter: blur(30px);
  box-shadow: 0 20px 30px rgba(0,0,0,0.15);
}

#header-img {
  width: 170px;
  display: flex;
}

.menu {
  list-style: none;
  text-align: center;
  padding: 0;
}

#nav-bar {
  display: flex;
  flex-grow: 1;
  min-height: 80px;
  align-items: center;
}

#nav-bar ul li a {
  display: block;
  padding: 5px;
  margin-bottom: 20px;
  text-decoration: none;
  color: #FFF;
}

/*Hero and form rules*/
#hero {
  max-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 350px;
}

#hero h2 {
  color: #FFF;
  text-shadow: 2px 2px 4px #000;
  font-family: "Berkshire Swash", cursive;
  font-size: 50px;
}

#form {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 430px;
  width: 100%;
}

#form input{
  display: block;
}

#email {
  margin-bottom: 20px;
  padding: 5px;
  max-width: 300px;
  border-radius: .5em;
  font-family: "Crimson Text", serif;
  font-size: 1.125em;
  background-color: #FFF;
  margin: 5px auto;
  width: 100%;
}

#submit {
  margin-bottom: 20px;
  font-family: "Crimson Text", serif;
  font-size: 18px;
  font-weight: bold;
  padding: 4px 20px;
  color: #FFF;
  background-color: #76BA99;
  border: 0px;
  border-radius: 10px;
}